<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619776338973-eh3egv8e1nitiknasg214dkjk98pant2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619776338973-eh3egv8e1nitiknasg214dkjk98pant2</string>
	<key>API_KEY</key>
	<string>AIzaSyAn0ljoU65jH6lY5SCJ-18yPzxZ5XIc7mY</string>
	<key>GCM_SENDER_ID</key>
	<string>619776338973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.farmersapp</string>
	<key>PROJECT_ID</key>
	<string>farmersell-da481</string>
	<key>STORAGE_BUCKET</key>
	<string>farmersell-da481.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619776338973:ios:eff39c0ec1548439e5aaf4</string>
</dict>
</plist>